---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import BannerInlife from '../components/BannerInlife.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ProjectCardBaner from '../components/ProjectCardBaner.astro';
import Spotify from '../components/Spotify.astro';
import CarouselOficinas from '../components/CarouselOficinas.astro';
---

<Layout title="FDLC">
	<Hero />
	<main class="flex flex-col justify-center items-center">
		<About />
		<BannerInlife/>

		<!-- Descanso con reproductor de Spotify -->
		<section class="w-11/12 lg:h-56 mt-6 flex justify-center items-center bg-[url('../../public/fdlc-descanso01-home.webp')] bg-cover bg-no-repeat rounded-[30px]">
			<div class="max-w-screen-sm w-full">		
				<Spotify />
			</div>
		</section>

		<!-- Sección para mostrar los proyectos -->
		<section class="w-11/12 mt-6 grid grid-flow-dense grid-cols-4 auto-rows-max gap-6">

			<ProjectCardBaner text="Ourbeer" size="2" class="before:bg-[url('../../public/fdlc-birra.webp')]" />

			<ProjectCardBaner text="Ourteam" size="2" class="before:bg-[url('../../public/fdlc-team.webp')]" />

			<ProjectCard logo="camel-logo" size="1" alt="Logo de Camel" class="before:bg-[url('../../public/camel-fondo.webp')]" />

			<ProjectCard logo="concacaf-logo" size="1" alt="Logo de Concacaf" class="before:bg-[url('../../public/concacaf-fondo.webp')]" />

			<ProjectCardBaner text="Ourwork" size="2" class="before:bg-[url('../../public/fdlc-work.webp')]" />

			<ProjectCard logo="kalea-logo" size="1" alt="Logo de Kalea" class="before:bg-[url('../../public/kalea-fondo.webp')]" />

			<ProjectCard logo="tous-logo" size="1" alt="Logo de TOUS" class="before:bg-[url('../../public/tous-fondo.webp')]" />

			<ProjectCard logo="genven-logo" size="1" alt="Logo de Genven" class="before:bg-[url('../../public/genven-fondo.webp')]" />

			<ProjectCard logo="cookie-logo" size="1" alt="Logo de Cookie Cakes Integrales" class="before:bg-[url('../../public/cookie-fondo.webp')]" />

			<ProjectCard logo="pepsico-logo" size="1" alt="Logo de Pepsico" class="before:bg-[url('../../public/pepsico-fondo.webp')]" />

			<ProjectCard logo="hbo-logo" size="1" alt="Logo de HBO" class="before:bg-[url('../../public/hbo-fondo.webp')]" />

			<ProjectCard logo="lively-logo" size="1" alt="Logo de Lively Harvest" class="before:bg-[url('../../public/lively-fondo.webp')]" />

			<ProjectCard logo="perrier-logo" size="1" alt="Logo de Perrier" class="before:bg-[url('../../public/perrier-fondo.webp')]" />
		</section>

		<section class="w-11/12 lg:h-56 my-6 px-16 flex justify-between items-center bg-[url('../../public/fdlc-descanso01-home.webp')] bg-cover bg-no-repeat rounded-[30px] cursor-pointer">
			<p class="w-[34ch] text-5xl font-bold uppercase">
				Si quieres trabajar para nosotros, da un paso fuera de la caja 
			</p>
			<img src="../../public/fdlc-caja.svg" alt="Logo Cajita de FDLC">
		</section>
	</main>
	<CarouselOficinas />
</Layout>

<style>
	
</style>
