---

---

<section class="w-screen h-screen flex justify-center items-end m-0 p-0">
    <div class=" flex justify-around gap-3">
        <article class="w-80 bg-green-300">
            <h1>
                Think
            </h1>
            <p>
                Strategy and creative services
            </p>
        </article>
        <article class="w-80 bg-red-400">
            <h1>
                Do
            </h1>
            <p>
                Experiencial marketing services
            </p>
        </article>
        <article class="w-80 bg-yellow-300">
            <h1>
                Share
            </h1>
            <p>
                Digital marketing services
            </p>
        </article>
    </div>
</section>


<style>

</style>