---
import AboutCard from "./AboutCard.astro";
---

<!-- <section class="w-full h-screen flex flex-col justify-center items-center m-0 p-0">
    <div class="w-11/12 h-1/2">    
        <img class="object-cover rounded-2xl" src="../../public/biblia-fdlc.webp" alt="La Biblia de de Fuera de la Caja">
    </div>
    <div class="w-11/12 h-1/2 flex justify-around gap-6 fdlc-card-hover">
        <AboutCard
            title="Think"
            text="Strategy and creative services"
            class="bg-[url('../../public/card-think.webp')]"
        />
        <AboutCard
            title="Do"
            text="Experiencial marketing services"
            class="bg-[url('../../public/card-do.webp')]"
        />
        <AboutCard
            title="Share"
            text="Digital marketing services"
            class="bg-[url('../../public/card-share.webp')]"
        />
    </div>
</section> -->

<section class="h-screen grid grid-rows-2 items-stretch gap-4  w-11/12">
  
        <img
            class="object-fill rounded-2xl"
            src="../../public/biblia-fdlc.webp"
            alt="La Biblia de de Fuera de la Caja"
        />

    <div class="grid grid-cols-3 gap-4">
        <div>
            <AboutCard
                title="Think"
                text="Strategy and creative services"
                class="bg-[url('../../public/card-think.webp')]"
            />
        </div>
        <div>
            <AboutCard
                title="Do"
                text="Experiencial marketing services"
                class="bg-[url('../../public/card-do.webp')]"
            />
        </div>
        <div>
            <AboutCard
                title="Share"
                text="Digital marketing services"
                class="bg-[url('../../public/card-share.webp')]"
            />
        </div>
    </div>
</section>

<style>
    .fdlc-card-hover > .about-card:nth-child(4) {
        transition: all 1s ease-in-out;
        background-color: blueviolet !important;
        color: chartreuse !important;
    }

    .fdlc-card-hover > .about-card:nth-child(4):hover {
        scale: 1.2;
    }
</style>
