---

---



<div
    class="group relative min-w-screen w-screen h-[700px] mt-6  flex transition-all duration-500 overflow-hidden"
>
    <!-- Div 1: Ocupa el 100% inicialmente, cambia a 80% en hover -->
    <div
        class="flex-grow group-hover:flex-grow-0 flex-shrink-0 basis-full group-hover:basis-[80%] group-hover:rounded-3xl h-full p-8 bg-[url('../../public/fdlc-inlife.webp')] bg-cover bg-center text-zinc-100 uppercase transition-all duration-500"
    >
            <h3
                class="font-light text-4xl group-hover:text-3xl transition-all duration-500"
            >
                On line + Off line
            </h3>
            <h2
                class="font-bold text-9xl group-hover:text-8xl transition-all duration-500"
            >
                In Life
            </h2>
        </div>

    <!-- Div 2: Inicialmente fuera de la pantalla, aparece al hacer hover -->
    <div
        class="relative flex-grow-0 group-hover:flex-grow flex-shrink-1 basis-0 group-hover:basis-[20%] h-full bg-yellow-400 group-hover:rounded-3xl ms-4 p-0 flex justify-center items-center transition-all duration-500"
    >
        <span
            class="absolute scale-150 text-[1px] opacity-0 group-hover:opacity-100 group-hover:text-5xl p-0 -rotate-90 font-bold leading-none uppercase transition-all duration-500 ease-in-out"
        >
            ¿Qué es Inlife?
        </span>
    </div>
</div>