---

import FacebookIcon from "../icons/FacebookIcon.astro"
import InstagramIcon from "../icons/InstagramIcon.astro"
import LinkedinIcon from "../icons/LinkedinIcon.astro"
import PinterestIcon from "../icons/PinterestIcon.astro"
import XIcon from "../icons/XIcon.astro"
import YoutubeIcon from "../icons/YoutubeIcon.astro"

---

<header class="flex fixed justify-between items-center bg-slate-950/50 w-11/12  px-5 py-5 z-50">
    <img class="w-80" src="../../public/FdlcLogo.svg" alt="Logo de Fuera de la Caja">

    <nav class="text-white/80 px-10">
        <div class="flex justify-between pb-5">
            <a class="hover:text-white transition ease-in-out duration-200" href="https://www.facebook.com/FueradeLaCajaAgency"><FacebookIcon /></a>
            <a class="hover:text-white transition ease-in-out duration-200" href="https://www.instagram.com/fueradelacaja/"><InstagramIcon /></a>
            <a class="hover:text-white transition ease-in-out duration-200" href="https://www.linkedin.com/company/fuera-de-la-caja?trk=public_post_feed-actor-name"><LinkedinIcon /></a>
            <a class="hover:text-white transition ease-in-out duration-200" href="#"><XIcon /></a>
            <a class="hover:text-white transition ease-in-out duration-200" href="https://ar.pinterest.com/fueradelacaja/"><PinterestIcon /></a>
            <a class="hover:text-white transition ease-in-out duration-200" href="#"><YoutubeIcon /></a>
        </div>
        <div class="text-base gap-10 flex justify-between uppercase text-white/80">
            <a class="hover:text-white transition ease-in-out duration-200" href="/">Home</a>
            <a class="hover:text-white transition ease-in-out duration-200" href="/us">Us</a>
            <a class="hover:text-white transition ease-in-out duration-200" href="/our-way">Our way</a>
            <a class="hover:text-white transition ease-in-out duration-200" href="/inlife">Inlife</a>
            <a class="hover:text-white transition ease-in-out duration-200" href="/fdlc">FDLC</a>
        </div>
    </nav>
</header>