---
import Header from "./Header.astro"
import Experience from "../icons/Experience.astro"
---

<section class="relative flex flex-col items-center w-full h-screen mb-6">
    <div class="fdlc-hero-hover w-[30%] h-[50%] bg-transparent absolute top-1/2 z-20 m-0 p-0"></div>
    <div class="fdlc-hero-background absolute -z-10  m-0 p-0"></div>
    <div class="fdlc-exp absolute bottom-14 z-10 w-11/12 m-0 p-0">
        <Experience class:list={['w-11/12']}  />
    </div> 
    
</section>

<style>
    .fdlc-hero-background{
        height: 100vh;
        width: 100%;
        background-color: rgb(109, 67, 12);
        background-image: url('../../public/hero-banner-pies.webp');
        background-position: center;
        background-repeat: none;
        transition: all .7s ease-in;
    }

    .fdlc-exp{
        color: #7A7E33;
        transition: all .7s ease-in-out;
    }

    .fdlc-hero-hover:hover ~ .fdlc-hero-background {
        border-radius: 40px;
        scale: .7;
    }

    .fdlc-hero-hover:hover ~ .fdlc-exp {
        color: rgba(178, 88, 58, .9);
        bottom: 30%;
    }
</style>